/* ROOT */
:root {
  --main-font-family: "Open Sans", "Arial", sans-serif;
  --second-font-family: "Poppins", "Arial", sans-serif;
  --main-font-weight: 400;
  --main-body-bg-color: #fff;
  --main-text-color: #151515;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input { /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  background-color: var(--main-body-bg-color);
}

.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sr-only {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

<<<<<<< HEAD
.font-fam {
  font-family: var(--second-font-family);
}

.border-meni {
  border: 1px solid #F5F5F5;
  border-radius: 12px;
}

.color-bg-green {
  background: #6A983C;
}

.color-green {
  color: #6A983C;
}

.width-button-add {
  width: 140px;
  height: 47px;
  border: 2px solid #46760A;
}

.bg-psb {
  height: 48px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.number {
  width: 29px;
  height: 18px;
  background: #F4F8EC;
  border-radius: 12px;
  color: #6A983C;
  padding: 0 8px;
}

.bor-bootom {
  border-bottom: 2px solid #F5F5F5;
}

.bor-bootom-color {
  border-bottom: 2px solid #6A983C;
}

.bg-cricle {
  background: #F4F8EC;
  border-radius: 12px;
  padding: 8px 10px;
  color: #6A983C;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.margin-style {
  margin-top: 48px;
}

.font-siee {
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.fontsize {
  margin-top: 26px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.cursor {
  cursor: pointer;
}

.dropdown-togglee::after {
  margin-left: 5px;
  content: "";
  width: 12px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../../images/arrow-to-right.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #151515;
}

.border-blok {
  position: relative;
  width: 269px;
  padding: 16px;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.fontsize-blok {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}

.button-style {
  padding: 7px 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  background: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
  color: #FFFFFF;
}

.del-style {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
  visibility: hidden;
}

.del-stylee {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}

.cricle {
  padding: 0 8px;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background-color: #fff;
}

.margin-cart {
  margin-bottom: 73px;
}

/* FOOTER START*/
.footer-style a {
  margin-top: 16px;
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  color: #6A983C;
}

.site-footer {
  margin-top: 64px;
}

.footer-span {
  max-width: 1084px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-span span {
  margin-top: 16px;
  margin-right: 12px;
  padding: 6px 10px;
=======
.billing-info {
  padding-bottom: 64px;
}

.billing-textbox {
  margin-bottom: 32px;
}

.billing-text {
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--main-text-color);
}

.billing-desc {
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
}

.billing-label {
>>>>>>> d48568e6daec5d70705e2836ee9c4c38ffdea59e
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
<<<<<<< HEAD
  color: #151515;
  background: #F5F5F5;
  border-radius: 12px;
}

.copyright p {
  margin-top: 48px;
  margin-bottom: 64px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

/* FOOTER FINISH*//*# sourceMappingURL=main.css.map */
=======
  color: var(--main-text-color);
}

.billing-input {
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 21px;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 19px;
  color: var(--main-text-color);
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}
.billing-input::-webkit-input-placeholder {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}
.billing-input::-moz-placeholder {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}
.billing-input:-ms-input-placeholder {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}
.billing-input::-ms-input-placeholder {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}
.billing-input::placeholder {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}

.billing-datalist {
  background-image: url("../images/datalist-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}

.billing-check-label {
  max-width: 243px;
  width: 100%;
  margin-top: 32px;
  padding: 9px 16px;
  font-size: 14px;
  line-height: 19px;
  color: var(--main-text-color);
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.billing-check-input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: transparent;
}

.billing-metod {
  padding-bottom: 64px;
}

.billing-radio-label {
  padding: 12px 16px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.billing-radio-input {
  width: 20px;
  height: 20px;
  margin-right: 18px;
}
.billing-radio-input:checked {
  background-color: #6a983c;
  border-color: #6a983c;
}

.billing-radio-text {
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-text-color);
}

.billing-radio-text-color {
  color: #6a983c;
}

.payment-box {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.payment-label {
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-text-color);
}

.payment-card-number-input {
  margin-top: 32px;
  margin-bottom: 32px;
}

.payment-input {
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 21px;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 19px;
  color: var(--main-text-color);
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}
.payment-input::-webkit-input-placeholder {
  color: #a9a9a9;
}
.payment-input::-moz-placeholder {
  color: #a9a9a9;
}
.payment-input:-ms-input-placeholder {
  color: #a9a9a9;
}
.payment-input::-ms-input-placeholder {
  color: #a9a9a9;
}
.payment-input::placeholder {
  color: #a9a9a9;
}

.payment-card-holder-input {
  max-width: 350px;
  width: 100%;
}

.additional-info {
  padding-top: 64px;
  padding-bottom: 64px;
}

.additional-input {
  height: 112px;
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 21px;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 19px;
  color: var(--main-text-color);
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  resize: none;
}
.additional-input::-webkit-input-placeholder {
  color: #a9a9a9;
}
.additional-input::-moz-placeholder {
  color: #a9a9a9;
}
.additional-input:-ms-input-placeholder {
  color: #a9a9a9;
}
.additional-input::-ms-input-placeholder {
  color: #a9a9a9;
}
.additional-input::placeholder {
  color: #a9a9a9;
}

.confirmation-label {
  max-width: 579px;
  margin-top: 0;
  margin-bottom: 16px;
}

.confirmation-label-seccond {
  max-width: 433px;
  margin-top: 0;
  margin-bottom: 32px;
}

.form-button {
  max-width: 218px;
  width: 100%;
  padding: 16px;
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  background-color: #6a983c;
  border: 2px solid #46760a;
  border-radius: 12px;
}

.security {
  max-width: 213px;
  width: 100%;
  margin-top: 32px;
}

.security-text {
  margin-top: 8px;
  margin-bottom: 2px;
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-text-color);
}

.security-desc {
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
}

.checkout-other-info {
  padding: 32px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.top-products-list {
  margin-top: 40px;
  margin-bottom: 56px;
}

.top-products-item:nth-child(1) {
  margin-bottom: 48px;
}

.top-products-item-img {
  border-radius: 12px;
}

.top-products-item-img-list {
  max-width: 100px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 0;
}

.top-products-item-img-item::before {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.top-products-item-img-item:nth-child(1)::before {
  background-image: url("../images/heart-checkout.svg");
}
.top-products-item-img-item:nth-child(2)::before {
  background-image: url("../images/table-checkout.svg");
}
.top-products-item-img-item:nth-child(3)::before {
  background-image: url("../images/x-checkout.svg");
}

.top-product-item-img-link {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #a9a9a9;
}

.top-products-item-info {
  width: 100%;
}

.top-products-item-info-textbox {
  max-width: 159px;
  width: 100%;
}

.top-products-item-info-text {
  font-family: var(--second-font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: var(--main-text-color);
}

.top-products-item-info-minibox {
  font-size: 12px;
  line-height: 16px;
  color: var(--main-text-color);
}

.top-products-item-info-minibox-color {
  color: #a9a9a9;
}

.top-products-item-info-starbox {
  margin-bottom: 16px;
}

.top-products-item-info-star {
  color: #fdbc15;
}

.top-products-item-info-star-none {
  color: #ebebeb;
}

.top-products-item-info-price {
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #6a983c;
}

.top-products-item-info-price-old {
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #a9a9a9;
}

.top-products-item-info-dropdown-box {
  width: 96px;
  padding: 6px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #d1d1d1;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.top-products-item-info-dropdown-line {
  width: 1px;
  height: 20px;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #d1d1d1;
}

.top-products-item-info-btn {
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-text-color);
  background-color: transparent;
  border: none;
}
.top-products-item-info-btn::after {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-image: url("../images/checkout-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.checkout-other-info-pricebox {
  margin-bottom: 32px;
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-text-color);
}

.checkout-other-info-price {
  margin-bottom: 12px;
}

.checkout-other-info-form {
  margin-bottom: 40px;
}

.checkout-other-info-input {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 21px;
  font-size: 14px;
  line-height: 19px;
  color: var(--main-text-color);
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-right: none;
  border-radius: 12px;
}
.checkout-other-info-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}
.checkout-other-info-input::-moz-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}
.checkout-other-info-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}
.checkout-other-info-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}
.checkout-other-info-input::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
}

.checkout-other-info-btn {
  padding-right: 16px;
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: var(--main-text-color);
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-left: none;
  border-radius: 12px;
}

.checkout-other-info-last-price-text {
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-text-color);
}

.checkout-other-info-last-price-desc {
  font-size: 12px;
  line-height: 16px;
  color: #6a983c;
}

.checkout-other-info-last-price {
  font-family: var(--second-font-family);
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #6a983c;
}

.verified {
  margin-top: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.verified-desc {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */
>>>>>>> d48568e6daec5d70705e2836ee9c4c38ffdea59e
