*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: auto;
}

body{
    @include sticky-footer;
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    background-color: var(--main-body-bg-color);
}

.site-main{
    flex-grow: 1;
}