/* ROOT */
:root{
    --main-font-family: "Karla", "Arial", sans-serif; 
    --main-font-weight: ; 
    --main-body-bg-color: ; 
    --main-text-color: ;
    --main-desc-color: ;
    --main-hero-bg-color: ;
}