/* ROOT */
:root{
    --main-font-family: "Open Sans", "Arial", sans-serif; 
    --second-font-family: "Poppins", "Arial", sans-serif; 
    --main-font-weight: 400; 
    --main-body-bg-color: #f9f9f9; 
    --main-text-color: #151515;
}