.font-fam{
    font-family: var(--second-font-family);
}
.border-meni{
    border: 1px solid #F5F5F5;
    border-radius: 12px;
}
.color-bg-green{
    background: #6A983C;
}
.color-green{
    color: #6A983C;
}
.width-button-add{
    width: 140px;
    height: 47px;
    border: 2px solid #46760A;
}
.bg-psb{
    height: 48px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}
.number{
    width: 29px;
    height: 18px;
    background: #F4F8EC;
    border-radius: 12px;
    color: #6A983C;
    padding: 0 8px;
}
.bor-bootom{
    border-bottom: 2px solid #F5F5F5;
}
.bor-bootom-color{
    border-bottom: 2px solid #6A983C;
}
.bg-cricle{
    background: #F4F8EC;
    border-radius: 12px;
    padding: 8px 10px;
    color: #6A983C;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
.margin-style{
    margin-top: 48px;
}
.font-siee{
    font-size: 14px;
    line-height: 19px;
    color: #151515;
}
.fontsize{
    margin-top: 26px;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.cursor{
    cursor: pointer;
}
.dropdown-togglee::after{
    margin-left: 5px;
    content: '';
    width: 12px;
    height: 12px;
    display: flex;
    background-image: url(../../images/arrow-to-right.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.btn{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #151515;
}
.border-blok{
    position: relative;
    width: 269px;
    padding: 16px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}
.fontsize-blok{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #575757;
}
.button-style{
    padding: 7px 12px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    background: #6A983C;
    border: 2px solid #46760A;
    border-radius: 12px;
    color: #FFFFFF;
}
.del-style{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #A9A9A9;
    visibility: hidden;
}
.del-stylee{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #A9A9A9;
}
.cricle{
    padding: 0 8px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 18px;
    color: #6A983C;
    background-color: #fff;
}
.margin-cart{
    margin-bottom: 73px;
}
